/* Global Styles */

/* index.html */

body {
  background-color: #42A5F5;
}

#root {
  height: 100vh;
  text-align: center;
  background-color: #42A5F5;
  font-family: Roboto;
}

h1 {
  margin: 0;
}

#helpmeButton {
  background-color: #9C27B0;
}

#ihelpButton {
  background-color: #9C27B0;
}

/* HELP US HELP YOU */

#page2 .boxWrapper {
  width: 450px;
}

#page2 .textbox {
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  margin-left:-10px;
}

#getHelpButton {
  width: 300px;
  height: 100px;
  background-color: #9C27B0;
  font-size: 24px;
}

#page2 h4 {
  font-size: 20px;
  margin: 24px 0 8px;
}

#page2 .boxWrapper {
  padding: 0;
}

/* HELP IS ON THE WAY */

#studentListWrapper {
}

#page3 .helpResponse {
  margin: 0 auto;
}

#page3 .reputation {
  position: relative;
  left: 250px;
  top: -50px;
}

#page4 .rate {
  position: relative;
  left: 152px;
  top: -20px;
}

#page4 .helpResponse {
  margin: 0 auto;
}

#page4 .studentName {
  position: relative;
  left: -20px;
}

#page4 .reputation {
  position: relative;
  left: -58px;
}

#page4 .problemStatement {
  text-align: left;
}

#page4 .boxWrapper {
  width: 450px;
  padding: 0px;
}

#page4 .textbox {
  background-color: white;
}
