/* Global Styles */

/* index.html */

#root {
  height: 100vh;
  text-align: center;
  background-color: #42A5F5;
  font-family: Roboto;
}

h1 {
  margin-top: 0;
}

#helpmeButton {
  background-color: #9C27B0;
}

#ihelpButton {
  background-color: #9C27B0;
}

